<div class="page_banner banner employer-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="banner-heading">Manage Applications</div>    
          </div>  
      </div>
  </div>
</div>
<main id="maincontent">
  <section class="manage">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="Resume">
                      <h1>My Account</h1>
                      <ul class="unstyled">
                          <li><a href="#"><i class="fa fa-caret-right"></i> Manage Jobs</a></li>
                          <li class="active"><a href="#"><i class="fa fa-caret-right"></i> Manage Applications</a></li>
                          <li><a href="#"><i class="fa fa-caret-right"></i> Change Password</a></li>
                          <li class="border-none"><a href="#"><i class="fa fa-caret-right"></i> Sign Out</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="panel-body">
                      <div class="job_title">Manage Applications</div>
                      <table class="table">
                          <thead class="">
                              <tr>
                                  <th>Candidate Name</th>
                                  <th>Job Title</th>
                                  <th>Cover Letter</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>   
                              <tr *ngFor="let proposal of freelanceProposals">
                                  <td><div class="col-md-4 col-sm-4 p-l p-r"><img src="assets/images/candidates/candidate-4.png" alt="" class="img-responsive" width="70" height="70"></div>
                                      <div class="overflow col-md-8 col-sm-8 p-l">
                                          <div class="text-shorting">
                                              <h1>{{proposal.user.firstname}} {{proposal.user.lastname}}</h1>
                                              <p>UI/UX Developer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="bottom-text"><a href="#"><i class="fa fa-eye"></i> Click to View Message</a></div>
                                  </td>    
                                  <td style="vertical-align: text-top;"><h1> {{proposal.freelanceJob.title}}</h1></td>
                                  <td style="vertical-align: text-top;"><a href="#"> {{proposal.coverLetter}}</a></td>
                                  <td style="vertical-align: text-top;"><span style="color:forestgreen"><i class="fa fa-check"></i><a href="">Accept</a></span> <span style="color:red"><i class="fa fa-trash"></i><a href="">Decline</a></span></td>
                              </tr>   
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>