
<div class="page_banner banner employer-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-heading">Manage Jobs</div>    
            </div>  
        </div>
    </div>
</div>
<main id="maincontent">
    <section class="manage">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="Resume">
                        <h1>My Account</h1>
                        <ul class="unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i> My Profile</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Edit Profile</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Notifications</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Favorite Candidates</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i> Manage Jobs</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Manage Applications</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Change Password</a></li>
                            <li class="border-none"><a href="#"><i class="fa fa-caret-right"></i> Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel-body">
                        <div class="job_title">Manage Posted Jobs</div>
                        <div *ngIf="freelanceJobs==undefined">
                            <h1>You haven't posted any job yet !</h1>
                        </div>
                        <table *ngIf="freelanceJobs!=null" class="table">
                            <thead class="">
                                <tr>
                                    <th>Job Title</th>
                                    <th>Publication Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let freelancejob of freelanceJobs">
                                    <td><h1>{{freelancejob.title}}<p>{{ (freelancejob.description.length>80)? (freelancejob.description | slice:0:80)+'...':(freelancejob.description) }}</p></h1></td>
                                    <td >{{freelancejob.date}}</td>
                                    <td><strong><span class="text-success">{{freelancejob?.isOpen}}</span></strong></td>
                                    <td><span style="color:rgb(22, 22, 87)"><i class="fa fa-pencil"></i><a href="">Edit</a></span> <span style="color:red"><i class="fa fa-trash"></i><a role="button" (click)="deleteFreelanceJob(freelancejob)">Delete</a></span></td>
                              
                                         
                                </tr>
                              
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
</main>

